<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>


<div class="container  ">
    <div class="row ">
        <div class="col   ">
            <div class=" card   border-primary mx-auto   mt-5 " style="width: 30rem;">
                <H1>Login</H1>
                <div class="card-body my-auto ">
                    <form method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form login_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>