<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrazione</title>
	<style>
		body {
			background-color:#304254;
		}
		.border-primary{
			border-color:#304254!important;
		}
	</style>
</head>
<body>


<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-auto col-md-6 col-lg-6">
            <div class=" card   border-primary   mt-5 " >

                <div class="card-body m-3 ">
                     <H1>Registrati</H1>
                    <form method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form registration_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>