<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{boss.nome}}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark mb-5 ">
	<div class="container-fluid">
		<a class="navbar-brand" href="http://127.0.0.1:8000/home">Home</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="drop">
			<ul class="navbar-nav  mb-2 mb-lg-0">
				<!-- Robe nostre -->
				{% if request.user.is_admin%}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false">
						Strumenti Admin
					</a>
					<ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/struttureGioco/boss/">Aggiungi/Modifica
							Boss</a>
						</li>
						<li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/struttureGioco/equipaggiamento/">Aggiungi/Modifica
							Equipaggiamento</a></li>
						<li><a class="dropdown-item"
						       href="http://127.0.0.1:8000/admin/struttureGioco/boss/{{boss.id}}/change">Modifica
							{{boss.nome}}</a>
						</li>
					</ul>
				</li>
				{%endif%}


			</ul>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav  mb-2 mb-lg-0">
				<!-- Robe nostre -->

				{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'inventario' %}">Inventario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Register</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">

	{% if flag %}

	<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	     aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<!--<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% if vittoria %}
					<h3>Vittoria!</h3>
					{%if elementoGiaVinto%}
					<h4>Hai gia {{elementoVinto.nome}} nel tuo inventario </h4>
					{%else%}
					<h4>{{elementoVinto.nome}}</h4>
					<p class="card-text">VTL {{elementoVinto.vitalita}}</p>
					<p class="card-text">FRZ {{elementoVinto.forza}}</p>
					<p class="card-text">DEX {{elementoVinto.destrezza}}</p>
					<p class="card-text">INT {{elementoVinto.intelligenza}}</p>
					<p class="card-text">TMP {{elementoVinto.tempra}}</p>
					{%endif%}
					{%else%}
					<h4>Hai perso :(</h4>
					{%endif%}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Indietro</button>
				</div>
			</div>
		</div>
	</div>
	{%endif%}


	<div class="row">
		<div class="col-6 mx-auto">
			<div class="card  border-secondary mb-3" style="background-color:#A8C7E6;">

				<div class="card-body">
					<div class="row">
						<h4 class="card-title">{{boss.nome}}</h4>

					</div>
					<div class="row">
						<div class="col">
							<img src="../../{{boss.image.name}}" class="align-middle img-fluid">
						</div>
						<div class="col ">
							<div class="card" >
								<div class="card-body">
									<h5 class="font-monospace text-uppercase">Statistiche:</h5>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item font-monospace ">VITA {{vitaboss}}</li>
									<li class="list-group-item font-monospace ">VITALIT&Agrave; {{boss.vitalita }}
									</li>
									<li class="list-group-item font-monospace ">FORZA {{boss.forza}}
									</li>
									<li class="list-group-item font-monospace ">DESTREZZA
										{{request.user.personaggio.destrezza }}
									</li>
									<li class="list-group-item font-monospace ">INTELLIGENZA
										{{boss.intelligenza}}
									</li>
									<li class="list-group-item font-monospace ">TEMPRA {{boss.tempra }}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="card-body">

					<h5>Lista dei possibili drop:</h5>

				</div>
				<ul class="list-group list-group-flush">
					{% if listaDrop.count == 0 %}
						<h6 class="fst-italic text-center">NESSUN DROP. QUALCHE ADMIN NON HA FATTO IL PROPRIO DOVERE...</h6>

					{% else %}
						{% for item in listaDrop %}
						<li class="list-group-item">{{item.nome}}
							{% if item.tipo == "A"%}
							<h6 class="fst-italic">Armatura</h6>
							{%elif item.tipo == "P"%}
							<h6 class="fst-italic">Arma Primaria</h6>
							{%else%}
							<h6 class="fst-italic">Arma Secondaria</h6>
							{% endif %}
						</li>
						{% endfor %}
					{% endif %}
				</ul>
				<div class="row mx-auto mt-2 mb-2" >
					<div class="col">
						<a class="btn-lg  btn btn-warning " href="../luoghi/">Fuggi</a>
					</div>
					<div class="col">
						<form method="post" class="" id="formCombatti">
							{% csrf_token %}
							<input type="hidden" name="idItem" value="hehehe">
							{% if listaDrop.count == 0 %}
								<button type="submit" class=" btn btn-lg btn-danger" disabled>Combatti</button>
							{% else %}
								<button type="submit" class=" btn btn-lg btn-danger">Combatti</button>
							{% endif %}

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>


</div>

<script type="text/javascript">
	var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'))
	myModal.show()

	// codice necessario per non far rimandare il form in caso di refresh
	if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
	}


</script>
</body>
</html>