<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './styles.css'%}">
</head>
<body>
<nav class="navbar navbar-expand navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <!-- Robe nostre -->
                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div class="row justify-content-start ">
        <div class="col ms-3  ">
            <h4 class="font-monospace">PERSONAGGIO: {{request.user.personaggio.nome }}</h4>
            <h6 class="font-monospace">VIT {{vitaEffettiva}}</h6>
            <h6 class="font-monospace">VTL {{request.user.personaggio.vitalita }}</h6>
            <h6 class="font-monospace">FRZ {{request.user.personaggio.forza }}</h6>
            <h6 class="font-monospace">DEX {{request.user.personaggio.destrezza }}</h6>
            <h6 class="font-monospace">INT {{request.user.personaggio.intelligenza }}</h6>
            <h6 class="font-monospace">TMP {{request.user.personaggio.tempra }}</h6>
        </div>


    </div>
    <div class="row justify-content-end">
        <div class="col-auto ms-5">
            <div class="btn-group" role="group">
                <div class="btn btn-default ">
                    {% bootstrap_button "Inventario" size='large' button_type="link" href="../inventario/" %}
                </div>
                <div class="btn btn-default">
                    {% bootstrap_button "Battaglia" size='large' button_type="link" href="../luoghi/" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start">
        <div class="col-auto ms-3 ">
            <h4 class="font-monospace">EQUIPAGGIAMENTO</h4>
            {% if request.user.personaggio.armaPrimaria is not None %}
            <h6 class="font-monospace">PRIMARIA - {{request.user.personaggio.armaPrimaria }}</h6>
            {% else %}
            <h6 class="font-monospace">PRIMARIA - VUOTO</h6>
            {% endif %}

            {% if request.user.personaggio.armaSecondaria is not None %}
            <h6 class="font-monospace">SECONDARIA - {{request.user.personaggio.armaSecondaria }}</h6>
            {% else %}
            <h6 class="font-monospace">SECONDARIA - VUOTO</h6>
            {% endif %}

            {% if request.user.personaggio.armatura is not None %}
            <h6 class="font-monospace">ARMATURA - {{request.user.personaggio.armatura }}</h6>
            {% else %}
            <h6 class="font-monospace">ARMATURA - VUOTO</h6>
            {% endif %}
        </div>
    </div>

</div>
</body>
</html>