<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand fixed-top mb-5 bg-light navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <!-- Robe nostre -->
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventario' %}">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% if request.user.is_authenticated %}
    <div class="row pt-5">
        <div class="col ms-1 fixed-top mt-5 pt-3 " id="stat">
            <h4 class="font-monospace">PERSONAGGIO: {{request.user.personaggio.nome }}</h4>
            <h6 class="font-monospace">VIT {{request.user.personaggio.vita }}</h6>
            <h6 class="font-monospace">VTL {{request.user.personaggio.vitalita }}</h6>
            <h6 class="font-monospace">FRZ {{request.user.personaggio.forza }}</h6>
            <h6 class="font-monospace">DEX {{request.user.personaggio.destrezza }}</h6>
            <h6 class="font-monospace">INT {{request.user.personaggio.intelligenza }}</h6>
            <h6 class="font-monospace">TMP {{request.user.personaggio.tempra }}</h6>

             <h4 class="font-monospace">EQUIPAGGIAMENTO</h4>
            {% if request.user.personaggio.armaPrimaria is not None %}
            <h6 class="font-monospace">PRIMARIA - {{request.user.personaggio.armaPrimaria }}</h6>
            {% else %}
            <h6 class="font-monospace">PRIMARIA - VUOTO</h6>
            {% endif %}

            {% if request.user.personaggio.armaSecondaria is not None %}
            <h6 class="font-monospace">SECONDARIA - {{request.user.personaggio.armaSecondaria }}</h6>
            {% else %}
            <h6 class="font-monospace">SECONDARIA - VUOTO</h6>
            {% endif %}

            {% if request.user.personaggio.armatura is not None %}
            <h6 class="font-monospace">ARMATURA - {{request.user.personaggio.armatura }}</h6>
            {% else %}
            <h6 class="font-monospace">ARMATURA - VUOTO</h6>
            {% endif %}

        </div>

        <div class="col offset-md-6 mt-5 mb-3" id="inventario">
            <div class="row row-cols-sm-1 row-cols-lg-2 row-cols-xl-3 g-4">
                {% for item in zaino %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nome}}</h5>
                            <p class="card-text">VTL {{item.vitalita}}</p>
                            <p class="card-text">FRZ {{item.forza}}</p>
                            <p class="card-text">DEX {{item.destrezza}}</p>
                            <p class="card-text">INT {{item.intelligenza}}</p>
                            <p class="card-text">TMP {{item.tempra}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {% endif %}
</div>
</body>
</html>